@model Ohmium.Models.TemplateModels.StackSync

@{
    ViewData["Title"] = "Details";
}
<partial name="_template" />
<table>
    <tr>
        <td><i class="btn btn-warning"</td>
        <td><i class="btn btn-warning"</td>
        <td><i class="btn btn-warning"</td>
        <td><i class="btn btn-warning"</td>
        <td><i class="btn btn-success"</td>
    </tr>
    </table>
<h1>Details</h1>

<div>
    <h4>StackSync</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
