@model IEnumerable<Ohmium.Models.TemplateModels.SequenceLibrary>

@{
    ViewData["Title"] = "Create";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        //var seq = $("#scriptId");
        //seq.val("Select")
        var url = '@Url.Action("GetScriptStep")';
        var url1 = '@Url.Action("GetAllSteps")';
        $("#scriptId").change(function () {
            var id = $(this).val();
            $.getJSON(url, { rpid: id }, function (response) {
                $("#stepNumber").val(response);
                $("#rs").text(response - 1 + " step/s already created!");
                $("#rs").show();

            });
            $.getJSON(url1, { rpid: id }, function (response) {
                document.getElementById("list").innerHTML = response;
            });
        });
    })
    var sortnumbers = [];
    function sortval(i) {
        var count = 0;
        for (var a = 0; a < sortnumbers.length; a++) {
            if (sortnumbers[a] == i) {
                alert("Sort position already allocated");
                count++;
            }
        }
        if (count == 0)
            sortnumbers.push(i);

    }
</script>
<partial name="_template" />
<table>
    <tr>
        <td><i class="btn btn-warning"</td>
        <td><i class="btn btn-warning"</td>
        <td><i class="btn btn-warning"</td>
        <td><i class="btn btn-success"</td>
        <td><i class="btn btn-warning"</td>
    </tr>
</table>

<h4>Create Script Library</h4>
<hr />
<form asp-action="Create">
    <table class="table table-striped">
        <tr>
            <td>
                <select id="scriptId" name="scriptId" class="form-control" asp-items="ViewBag.scriptId">
                    <option>Select</option>
                </select>
            </td>
            <td>
                <input id="stepNumber" type="number" name="stepNumber" placeholder="Step Number" class="form-control" min="0" />

            </td>
            <td>

                <input type="number" id="loop" name="loop" placeholder="Script Loop" class="form-control" min="0" />

            </td>

        </tr>
        <tr>
            <td>
                <table>
                    @Html.EditorForModel()
                </table>
            </td>
        </tr>
    </table>

    <input type="submit" value="Create" class="btn btn-primary" />    <div id="rs" style="display:none;color:tomato"></div>

</form>
<div>

    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
