<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9ce11fd9-93f2-4052-b699-071cee0475ef/resourceGroups/Enarka/providers/Microsoft.Web/sites/netrc</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://netrc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>f9c97132-db63-4a7f-bfde-4a439063f4b9</ProjectGuid>
    <PublishUrl>https://netrc.scm.azurewebsites.net/</PublishUrl>
    <UserName>$netrc</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>