@model Ohmium.Models.EFModels.SQStack

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Stack</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="stackMfgID" />
            <div class="form-group">
                <label asp-for="siteID" class="control-label"></label>
                <select asp-for="siteID" class="form-control" asp-items="ViewBag.siteID"></select>
                <span asp-validation-for="siteID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="deviceID" class="control-label"></label>
                <select asp-for="deviceID" class="form-control" asp-items="ViewBag.deviceID"></select>
                <span asp-validation-for="deviceID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stackConfig" class="control-label"></label>
                <input asp-for="stackConfig" class="form-control" />
                <span asp-validation-for="stackConfig" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="stackPosition" class="control-label"></label>
                <input asp-for="stackPosition" class="form-control" />
                <span asp-validation-for="stackPosition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="meaNum" class="control-label"></label>
                <input asp-for="meaNum" class="form-control" />
                <span asp-validation-for="meaNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="meaArea" class="control-label"></label>
                <input asp-for="meaArea" class="form-control" />
                <span asp-validation-for="meaArea" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="status" class="control-label"></label>
                <select asp-for="status" class="form-control" asp-items="ViewBag.status"></select>
                <span asp-validation-for="status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
