<style>
    a::after {
        color: red
    }

    a:hover {
        color: red;
    }
</style>

<table class="table table-bordered">
    <tr>
        <td colspan="2">
            <a class="nav-link" asp-area="" asp-controller="SequenceLibraries" asp-action="Index">
                <i class="nav-icon fas fa-project-diagram">
                    Sequence
                    </i>
            </a>
           
        </td>
        <td colspan="2">
            <a class="nav-link" asp-area="" asp-controller="RunStepLibraries" asp-action="Index">
                <i class="nav-icon fas fa-project-diagram">
                    Run Step
                </i>
            </a>
        </td>
  
        <td colspan="1">
            <a class="nav-link" asp-area="" asp-controller="ScriptLists" asp-action="Index">
                <i class="nav-icon fas fa-project-diagram">
                    Script 
                </i>
            </a>
        </td>
        <td colspan="1">
            <a class="nav-link" asp-area="" asp-controller="ScriptLibraries" asp-action="Index">
                <i class="nav-icon fas fa-project-diagram">
                    Script Library
                </i>
            </a>
        </td>
        <td colspan="2">
            <a class="nav-link" asp-area="" asp-controller="StackSyncs" asp-action="Index">
                                <i class="nav-icon fas fa-project-diagram">
                    Sync
                </i>
            </a>
        </td>
    </tr>

</table> 
