@model IEnumerable<Ohmium.Models.TemplateModels.RunStepLibrary>
@using Ohmium.Models.TemplateModels;

@{
    ViewData["Title"] = "Index";
}
<style>
        #loader {
       display: none;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function(){
        var url = '@Url.Action("RunSteps")';
        $("#sequences").change(function(){
            document.getElementById("loader").style.display = "block";
            var id=$(this).val();
        $.getJSON(url,{id:id},function(response){
            if(response=="")
                            document.getElementById("rs").style.display="block";
                            else
                document.getElementById("runsteplist").innerHTML=response;
                document.getElementById("loader").style.display = "none";
        });
        });
    })
</script>
<partial name="_template" />
<table>
    <tr>
        <td><i class="btn btn-warning"</i></td>
        <td><i class="btn btn-success"</i></td>
        <td><i class="btn btn-warning"</i></td>
        <td><i class="btn btn-warning"</i></td>
        <td><i class="btn btn-warning"</i></td>
    </tr>
</table>
<h3>Run Steps</h3>
<table>
    <tr>
        <td><a asp-action="Create" class="btn btn-outline-primary">Create New</a></td>
        <td>
            <select name="sequences" id="sequences" asp-items="@ViewBag.sequences" class="form-control">
                <option>Select</option>
            </select>
        </td>
        <td><div id="loader" class="spinner-grow text-primary"></div></td>
    </tr>
</table>


<div id="runsteplist"></div>

